<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<div class="container" >
    <div class="jumbotron" align="center" style="margin-top: 50px;">
        <h1>Seja bem vindo ao ListaVIPs</h1>
        <div align="center">
            <a href="listaconvidados" class="btn btn-lg btn-primary">Clique aqui para ver a lista de convidados</a>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>