<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de Convidados</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <div id="listConvidados">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="convidado : ${convidados}">
                <td><span th:text="${convidado.nome}"></span></td>
                <td><span th:text="${convidado.email}"></span></td>
                <td><span th:text="${convidado.telefone}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr />
    <form action="convidado" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone"/>
        </div>
        <button type="submit" class="btn btn-success">Convidar</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>